# **Pandas**
## DataFrame

In [1]:
# import libreria
import pandas as pd

# definizione DataFrame
df = pd.DataFrame({
    "Nome": ["Alessia", "Giorgio", "Marco"],
    "Cognome": ["Verdi", "Bianchi", "Rossi"],
    "Età": [20, 25, 18]
})

# visualizzazione anteprima dataframe
df

      Nome  Cognome  Età
0  Alessia    Verdi   20
1  Giorgio  Bianchi   25
2    Marco    Rossi   18

In [2]:
# lettura dati da file
df = pd.read_csv("iris.csv")

df

# in generale
# <dataframe_name> = pd.read_<file_format>(<path>)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [3]:
# dimensioni DataFrame
df.shape

(150, 5)

In [4]:
# visualizzazione primi elementi DataFrame
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
# visualizzazione ultimi elementi DataFrame
df.tail(10)

     sepal.length  sepal.width  petal.length  petal.width    variety
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [6]:
# visualizzazione di righe casuali
df.sample(10)

     sepal.length  sepal.width  petal.length  petal.width     variety
138           6.0          3.0           4.8          1.8   Virginica
2             4.7          3.2           1.3          0.2      Setosa
24            4.8          3.4           1.9          0.2      Setosa
44            5.1          3.8           1.9          0.4      Setosa
84            5.4          3.0           4.5          1.5  Versicolor
53            5.5          2.3           4.0          1.3  Versicolor
77            6.7          3.0           5.0          1.7  Versicolor
128           6.4          2.8           5.6          2.1   Virginica
46            5.1          3.8           1.6          0.2      Setosa
141           6.9          3.1           5.1          2.3   Virginica

In [7]:
# visualizzazione massimi
df.max()

sepal.length          7.9
sepal.width           4.4
petal.length          6.9
petal.width           2.5
variety         Virginica
dtype: object

In [10]:
# visualizzazione minimi
df.min()

sepal.length       4.3
sepal.width        2.0
petal.length       1.0
petal.width        0.1
variety         Setosa
dtype: object

In [12]:
df[['sepal.length', 'sepal.width']] # accedo a 2 colonne del DF iniziale creando un nuovo DFD

sepal.length    131
sepal.width      15
dtype: int64

In [13]:
df.loc[:, df.columns != 'variety'].idxmax()

sepal.length    131
sepal.width      15
petal.length    118
petal.width     100
dtype: int64