# **Pandas**
## Series

In [1]:
# import librerie
import pandas as pd
import numpy as np

# definizione array
data = np.array([30, 54, 6, 8, 2, 3, 14, 75, 57, 23])
data

array([30, 54,  6,  8,  2,  3, 14, 75, 57, 23])

In [2]:
# definizione Series da array
s = pd.Series(data)
s

0    30
1    54
2     6
3     8
4     2
5     3
6    14
7    75
8    57
9    23
dtype: int64

In [3]:
# lettura dati da file
df = pd.read_csv('iris.csv')
type(df)

pandas.core.frame.DataFrame

In [4]:
# DataFrame
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [5]:
# selezione colonna DataFrame
df['sepal.length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64

In [6]:
# tipo colonna DataFrame
type(df['sepal.length'])

pandas.core.series.Series

In [7]:
data = np.array([30, 54, 6, 8, 2, 3, 14, 75, 57, 23])
s = pd.Series(data)
s

0    30
1    54
2     6
3     8
4     2
5     3
6    14
7    75
8    57
9    23
dtype: int64

In [8]:
# selezione elementi
s[:5]

0    30
1    54
2     6
3     8
4     2
dtype: int64

In [9]:
# selezione tramite indici negativi
s[-3:]

7    75
8    57
9    23
dtype: int64

In [10]:
# mostrare dal terzo elemento al sesto
s[2:6]

#ricorda l'estremo inferiore è inclusivo e l'estremo superiore esclusivo

2    6
3    8
4    2
5    3
dtype: int64

In [11]:
# mostrare primi elementi (di default 5)
s.head(10)

0    30
1    54
2     6
3     8
4     2
5     3
6    14
7    75
8    57
9    23
dtype: int64

In [12]:
# mostrare primi 2 elementi
s.head(2)

0    30
1    54
dtype: int64

In [13]:
# mostrare ultimi elementi (di default 5)
s.tail()

5     3
6    14
7    75
8    57
9    23
dtype: int64

In [14]:
# mostrare ultimi 2 elementi
s.tail(2)

8    57
9    23
dtype: int64

In [15]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])

df = pd.DataFrame({
    's1': s1,
    's2': s2
})

df

   s1  s2
0   1   4
1   2   5
2   3   6

In [16]:
s1.min()

1

In [17]:
s1.describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

In [18]:
df.describe()

        s1   s2
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

In [19]:
df.describe().T

    count  mean  std  min  25%  50%  75%  max
s1    3.0   2.0  1.0  1.0  1.5  2.0  2.5  3.0
s2    3.0   5.0  1.0  4.0  4.5  5.0  5.5  6.0